body{
    padding: 200px;
    background-color: rgb(243, 234, 234);
    font-size: 125%;
    line-height: 1.5;
}
h1{
    font-size: 400%;
    color: purple;
    font-style: bold;
}

img{
    width: 100%;
    height: 40%;
    padding: 50px;
}

footer{
    background-color: white;
}
